body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}

p {
    color: #101011;
}

#uno {
    background-color: rgb(58, 63, 123);
}

.centrado {
    text-align: center;
}

.negrita {
    font-weight: bolder;
}