body {
    background-color: rgb(50, 138, 87);

}

p {
    color: #666;
}

#uno {
    background-color: rgb(58, 63, 123);
}

.centrado {
    text-align: center;
}

.negrita {
    font-weight: bolder;
}