{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Events{% endblock title %}</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mis_estilos.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-4">
        
        <a href="/" class="navbar-brand">Smart Events</a>
        
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="{% url 'eventos' %}" class="nav-link">Eventos</a></li>
                <li class="nav-item"><a href="{% url 'comunidad' %}" class="nav-link">Comunidad</a></li>
                
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'mis_registros' %}" class="nav-link">Mis Eventos</a></li>

                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="d-flex">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link" style="color: white;">
                                Cerrar Sesión ({{ user.username }})
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link btn btn-outline-success ms-2">Registro </a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <footer>
    </footer>
    
    {% block extra_js_vars %}
    {% endblock extra_js_vars %}


    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mi_javascript.js' %}"></script>

    
</body>
</html>
